<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}WAKE UP!{{/if}}
	</button>
	<button class="burger-delete" data-id="{{id}}">DELETE!</button>
</li>
